
#mainDivCompany{
   
    position: absolute;
    top: 0;
    background-color: #333333;
    flex: content;
    width: 100%;
    display: flexbox;

}



#textCompany{position:relative;
top: 80px;}


#contactCompany{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#whatsAppCompany {
    color: white;
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: larger;
}

#whatsAppDivCompany {
    height: 50px;
    width: 170px;
    background-color: #25D366;
    border-radius: 50px;
  margin-bottom: 50px;
  
}

#photo44Div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 100px;

}

#textPhoto44 {
    color: white;
    font-size: 50px;
    font-family: sans-serif
}






#photo45Div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 100px;


}

#textPhoto45 {
    color: white;
    font-size: 50px;
    font-family: sans-serif
}


#photo50Div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 100px;
    margin-bottom: 200px;

}

#textPhoto50 {
    color: white;
    font-size: 50px;
    font-family: sans-serif
}



#containerCompany {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#infoDivCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
  
}




img {
    border-radius: 20px;
}


.space {
    height: 80px;
}